.border {
    position: relative;
    border-style: solid;
    border-width: 30%;
    width: 40%;
    height: 100%;
    border-color: rgb(5, 83, 5);
    border-radius: 10px;
}

.title {
    color: rgb(5, 83, 5);
    font-weight: bold;
    font-size: 13px;
};

.container{
    background-color: black;
}

.rating{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border:hover > .rating{
    display: block;
}