.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.coverImg{
    position: relative;
    margin-right: 20;
    width: 40;
}

.title{
    color: 'white'; 
    width: 100%;
}

.info{
    display: grid;
}

.genres{
    align-items: center;
    justify-content: center;
}

.summary{
    width: 100%;
    position: relative;
    margin-left: 30;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.rating{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coverImg:hover > .rating{
    display: block;
}