.container{
    width: 100%;
    height: auto;
}

.backgroundImg{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.coverImg{
    position:relative;
    left: 20%;
    top: 10%;
    justify-content: center;
    align-content: center;
}

.title{
    position: absolute;
    left: 40%;
    top: 10%;
}

.genres{
    position: absolute;
    left: 39%;
    top: 20%;
}

.rating{
    position: absolute;
    left: 41%;
    top: 40%; 
}

.summary{
    width: 70%;
    left: 20%;
    position: relative;
}